<%= form_tag "/payments", method: :post, id: "payment-form" do %>
  <div id="payment-error"></div>

  <label for="card-number">Card Number</label>
  <div class="hosted-field" id="card-number"></div>

  <label for="cvv">CVV</label>
  <div class="hosted-field" id="cvv"></div>

  <label for="expiration-date">Expiration Date</label>
  <div class="hosted-field" id="expiration-date"></div>

  <input id="nonce-input" type="hidden" name="payment-method-nonce">
  <input id="payment-submit" type="submit" value="Pay $10" disabled>

<% end %>

<%= javascript_tag do %>
  new BTPayment('<%= @client_token %>');
<% end %>
